<form class=" padding-20px flex column">
    <mat-form-field appearance="fill">
        <mat-label>Departure Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Return Date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Travel Type</mat-label>
        <mat-select>
            <mat-option *ngFor="let type of travelTypes" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Reason for travel</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Any Special needs</mat-label>
        <input matInput placeholder="Ex. Privacy Policy">
    </mat-form-field>
    <div class="flex spacebetween-center">
        <button mat-raised-button class="" color="accent">Cancel</button>
        <button mat-raised-button class="" color="primary">Apply</button>
    </div>

</form>
