@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Bubbles&display=swap');

$primary-color: #1160cf;

.left {
    img {
        height: 150px;
        width: 150px;
    }
}

.left {
    background-image: url('../../../assets/background\ image.jpg');
    background-size:cover;
    background-position: left;
}

h1 {
    font-size:xx-large;
}

.log-in {
    img {
        width: 40px;
        height: 40px;
    }
    p {
        padding: 0;
        margin: 0;
        font-family: 'Rubik Bubbles', system-ui;
        color: $primary-color;
    }

}

// Snack Bar positioning

.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
        position: absolute;
        bottom: 30px;
        right: -490px;
    }
}

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-container-color: #1160cf;
    --mdc-snackbar-supporting-text-color: rgba(255, 255, 255);
}
