<div class="full-height">
    <div class="flex full-height gap-1em">
        <div class="left width-250px flex column box-sizing full-height spacebetween-center  padding-20px">
            <h2>Operations System</h2>
            <div class="menu-items flex column gap-1em">
                <p *ngFor="let item of menuItems" class="link" (click)="clicked = 1; dashboardClicked = 0" [routerLink]="item.route">
                    {{item.menu}}</p>
            </div>
            <button mat-raised-button class="half-width" (click)="LogOut()" color="primary">Log Out</button>
        </div>
        <div class="right flex column full-width margin-10 gap-1em">
            <div class="top-bar flex spacebetween-center full-width box-sizing padding-20px">
                <div class="flex center-center gap-1em">
                    <img src="../../../assets/netrinos.jpeg" alt="">
                    <p class="font-larger link" (click)="dashboardClicked = 1; clicked = 0" routerLink="dashboard">Dashboard</p>
                </div>
                <div class="profile flex column center-center">
                    <div class="initials flex center-center">
                        <p>{{initials}}</p>
                    </div>
                    <p>{{user.firstName}} {{user.lastName}}</p>
                </div>
            </div>
            <div class="flex flex-1">
                <div *ngIf="clicked">
                    <router-outlet class="full-width"></router-outlet>
                </div>
                <div *ngIf="dashboardClicked" class="full-width padding-20px">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>