<form class=" padding-20px flex column">
    <mat-form-field appearance="fill">
        <mat-label>Transport Request Type</mat-label>
        <mat-select #sel>
            <mat-option *ngFor="let type of transportTypes" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Needed Date</mat-label>
        <input matInput [matDatepicker]="picker" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="sel.value === 'Airport Pick Up'" appearance="fill">
        <mat-label>Pick Up Spot</mat-label>
        <mat-select>
            <mat-option *ngFor="let spot of airportPickUpSpots" [value]="spot">
                {{spot}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="sel.value === 'Generic Pick Up'" appearance="fill">
        <mat-label>Pick Up Spot</mat-label>
        <mat-select >
            <mat-option *ngFor="let spot of genericPickUpSpots" [value]="spot">
                {{spot}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="">
        <mat-label>Drop off Spot</mat-label>
        <input matInput placeholder="Ex. It makes me feel...">
    </mat-form-field>
    <mat-form-field class="">
        <mat-label>Pick Up Reason</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <div class="flex center-center gap-2em">
        <button mat-raised-button class="" color="accent">Cancel</button>
        <button mat-raised-button class="" color="primary">Add Policy</button>
    </div>

</form>